@page "/build"
@using CityOfInfo.WebApp.Client.Features.Builds.Components;

<h1>Build</h1>

@if (CharacterData != null)
{
    <dl class="row">
        <dt class="col-md-2">Character Name</dt>
        <dd class="col-md-10">@CharacterData.Name</dd>

        <dt class="col-md-2">Alignment</dt>
        <dd class="col-md-10">@CharacterData.Alignment.Name</dd>

        <dt class="col-md-2">Archetype</dt>
        <dd class="col-md-10">@CharacterData.Archetype.DisplayName</dd>

        <dt class="col-md-2">Origin</dt>
        <dd class="col-md-10">@(CharacterData.Archetype.Origins.FirstOrDefault() ?? "unknown")</dd>
    </dl>
    <style>
        .power-column {
            max-width: 360px;
            min-width: 360px;
        }

        .power {
            margin-bottom: 5px;
        }

        .enhanced-power-name, .empty-power-name {
            z-index: -1;
            margin-bottom: -20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 25px;
            border-style: outset;
        }

        .enhanced-power-name {
            border-color: #417CF5;
            background: rgb(16,58,122);
            background: linear-gradient(0deg, rgba(16,58,122,1) 10%, rgba(131,178,236,1) 50%);
        }

        .empty-enhanced-power-slot, .enhanced-power-slot {
            height: 60px;
            width: 60px;
        }

        .enhanced-power-slot {
            border-radius: 50%;            
            border-style: outset;
            border-color: #417CF5;
            background: rgb(0,26,70);
            background: radial-gradient(circle, rgba(0,26,70,1) 18%, rgba(0,14,37,1) 60%);
        }

        .empty-power-name {
            border-color: #6D6D6D;
            background: rgb(109,109,109);
            background: linear-gradient(0deg, rgb(109,109,109) 10%, rgba(51,51,51,1) 50%);
        }

        .empty-enhanced-power-slot {            
        }
    </style>
    <!-- powers are laid out in three columns each 8 powers high-->

    @foreach (var build in CharacterData.Builds)
    {
        <div class="row">
            @for (var c = 0; c < SelectedPowerColumnCount; c++)
            {
                <div class="col-lg-4 power-column">
                    @for (var p = 0; p < SelectedPowerColumnHeight; p++)
                    {
                        var powerIndex = c * SelectedPowerColumnCount + p;
                        if (powerIndex >= build.PowerSlots.Count)
                            break;
                        var powerSlot = build.PowerSlots[powerIndex];
                        <PowerSlot Item="@powerSlot"/>
                    }
                </div>
            }
        </div>
        <hr />
        <div class="row">         
            @{ 
                var inherentPowerCount = build.PowerSlots.Count - InherentPowerStartIndex;
                var dynamicInherentPowerColumnHeight = inherentPowerCount / InherentPowerColumnCount;}
            @for (var c = 0; c < InherentPowerColumnCount; c++)
            {
                <div class="col-lg-4 power-column">
                    @for (var p = 0; p < dynamicInherentPowerColumnHeight; p++)
                    {
                        var powerIndex = InherentPowerStartIndex + c * dynamicInherentPowerColumnHeight + p;
                        if (powerIndex >= build.PowerSlots.Count)
                            break;
                        var powerSlot = build.PowerSlots[powerIndex];
                        <PowerSlot Item="@powerSlot"/>
                    }
                </div>
            }
        </div>
    }
    <hr />
<pre class="row">
@CharacterYaml
</pre>
}
@code {

}
