<h3>Loader</h3>

@code {

}

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Percentage Loaded</TableHeaderCell>
                    <TableHeaderCell>Number Loaded</TableHeaderCell>
                    <TableHeaderCell>Total Count</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowCell>@PercentageLoaded</TableRowCell>
                    <TableRowCell>@NumberLoaded</TableRowCell>
                    <TableRowCell>@TotalCount</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Progress>
            <ProgressBar Value="@PercentageLoaded">@NumberLoaded of @TotalCount</ProgressBar>
        </Progress>
        </Column>
</Row>